<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lux ult treansparent_300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,0},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,0},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,250},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,250},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,500},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,500},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,750},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,750},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,1000},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,1000},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,1250},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,1250},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,1500},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,1500},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,1750},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,1750},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_316.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,2000},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,2000},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_318.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,2250},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_319.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,2250},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_320.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,2500},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,2500},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,2750},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,2750},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{0,3000},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lux ult treansparent_325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2000,250}</string>
                <key>spriteSourceSize</key>
                <string>{2000,250}</string>
                <key>textureRect</key>
                <string>{{2000,3000},{2000,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lux.png</string>
            <key>size</key>
            <string>{4000,3250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81075fcd2a32b25bb0ff675a3324a259:d960b1743be8b100357dcdc9f9757a51:228c125bbd689ed060fa0dabd36eb303$</string>
            <key>textureFileName</key>
            <string>lux.png</string>
        </dict>
    </dict>
</plist>
