<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Minecraft Explosion (Green Screen)_201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{720,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1440,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2160,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2880,0},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_206.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_207.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{720,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_208.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1440,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2160,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2880,720},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_211.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{0,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_212.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{720,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_213.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1440,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2160,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Minecraft Explosion (Green Screen)_215.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,720}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{2880,1440},{720,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mc explosion.png</string>
            <key>size</key>
            <string>{3600,2160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79e870bcab1217fc3c0cace3e15faed3:9127e964fb6fba96de58f5947887d9ee:91bed3f00f44b0920f1d205a0c19522a$</string>
            <key>textureFileName</key>
            <string>mc explosion.png</string>
        </dict>
    </dict>
</plist>
