<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Megumin Explosion00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,0},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,0},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,450},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,450},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,900},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,900},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,1350},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,1350},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,1800},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,1800},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,2250},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,2250},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,2700},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,2700},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,3150},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,3150},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{0,3600},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Megumin Explosion17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,450}</string>
                <key>spriteSourceSize</key>
                <string>{800,450}</string>
                <key>textureRect</key>
                <string>{{800,3600},{800,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Megumin.png</string>
            <key>size</key>
            <string>{1600,4050}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:793d17e9d5164a92b572794fcfbe36c0:5f0b1fafbda066919ee105f1264c41ad:a7611bab66c98e27d190d12fff063b09$</string>
            <key>textureFileName</key>
            <string>Megumin.png</string>
        </dict>
    </dict>
</plist>
